.head {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 10px;
}

.head1 {
  background-color: blueviolet;
}

.head2 {
  background-color: powderblue;
}

.head3 {
  background-color: paleturquoise;
}

.head4 {
  background-color: dodgerblue;
}

.head5 {
  background-color: darkseagreen;
}

.head6 {
  background-color: darkcyan;
}

.head h2 {
  font-family: lora;
  text-align: center;
  color: white;
  font-size: x-large;
}

